{
  "plugins": [
    "mocha",
    "react"
  ],
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "semi": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "quotes": [
      2,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "space-before-function-paren": [
      0,
      {
        "anonymous": "always",
        "named": "always"
      }
    ],
    "mocha/no-exclusive-tests": 2
  },
  "extends": "standard"
}